In [ ]:
import pandas as pd

cus = pd.read_csv("/content/drive/MyDrive/NH/DataSet/cus_info.csv")
iem = pd.read_csv("/content/drive/MyDrive/NH/DataSet/iem_info_20210902.csv")
hist = pd.read_csv("/content/drive/MyDrive/NH/DataSet/stk_bnc_hist.csv")
train_new = pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/장하연/DATA_수익률_feature_추가/train_new_feature.csv")
test_new = pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/장하연/DATA_수익률_feature_추가/test_new_feature.csv")

train_label = pd.read_csv("/content/drive/MyDrive/NH/DataSet/new_train_label.csv")
submission = pd.read_csv("/content/drive/MyDrive/NH/DataSet/sample_submission.csv")
train=pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/장하연/DATA_수익률_feature_추가/train_new_feature.csv")
test=pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/장하연/DATA_수익률_feature_추가/test_new_feature.csv")
original_train = pd.read_csv("/content/drive/MyDrive/NH/DataSet/stk_hld_train.csv")

In [ ]:
#train_67_full=pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/전처리 파일/67/67_train_data.csv")
#test_67_full=pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/전처리 파일/67/67_test_data.csv")
#label_67_full=pd.read_csv("/content/drive/Shareddrives/주식 보유기간 예측 (NH투자증권 빅데이터 경진대회)/전처리 파일/67/67_train_label.csv")

In [ ]:
train.head()

                                                계좌ID  ...       수익률
0  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.095101
1  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ...  0.012746
2  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.039698
3  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.026860
4  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.024453

[5 rows x 26 columns]

In [ ]:
train.isnull().sum()

계좌ID           0
종목코드           0
매수일자           0
매도일자           0
보유기간(일)        0
성별             0
연령대            0
투자성향           0
자산구간           0
주거래상품군         0
Life Stage     0
서비스등급          0
총 투자기간         0
주거래업종구분        0
종목한글명          0
종목업종           0
시가총액 규모유형      0
시장구분           0
hist_d         0
종가_0630       20
기준일자           0
잔고수량           0
잔고금액           0
액면가            0
매수가격           0
수익률           20
dtype: int64

In [ ]:
test.isnull().sum()

계좌ID            0
종목코드            0
매수일자            0
과거 보유일          0
제출ID            0
보유기간(일)         0
성별              0
연령대             0
투자성향            0
자산구간            0
주거래상품군          0
Life Stage      0
서비스등급           0
총 투자기간          0
주거래업종구분         0
종목한글명           0
종목업종            0
시가총액 규모유형       0
시장구분            0
기준일자            0
잔고수량            0
잔고금액            0
액면가             0
매수가격            0
종가_1230       549
수익률           549
dtype: int64

In [ ]:
train_filled=train.copy()
train_filled.fillna({'종가_0630':train['종가_0630'].mean(),
                     '수익률':train['수익률'].mean()}, inplace=True)

test_filled=test.copy()
test_filled.fillna({'종가_1230':test['종가_1230'].mean(),
                     '수익률':test['수익률'].mean()}, inplace=True)

In [ ]:
train_filled.rename(columns={'hist_d': '과거 보유일'}, inplace=True)

In [ ]:
train_filled.head()

                                                계좌ID  ...       수익률
0  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.095101
1  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ...  0.012746
2  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.039698
3  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.026860
4  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.024453

[5 rows x 26 columns]

In [ ]:
train_filled.corr()

             보유기간(일)        성별       연령대  ...       액면가      매수가격       수익률
보유기간(일)     1.000000  0.001276 -0.007848  ...  0.042979 -0.025054 -0.139161
성별          0.001276  1.000000  0.025507  ...  0.008112  0.037659 -0.027311
연령대        -0.007848  0.025507  1.000000  ... -0.014713 -0.003674 -0.011024
투자성향        0.050151  0.113922  0.141570  ...  0.015962 -0.006898 -0.004475
자산구간        0.025754 -0.110376  0.299723  ... -0.002433  0.023210  0.000403
주거래상품군      0.006388 -0.014843 -0.005868  ...  0.025052  0.025038  0.003986
Life Stage  0.003627  0.133939  0.856020  ... -0.014933 -0.003876 -0.016203
서비스등급      -0.002843  0.136359 -0.288815  ...  0.015207 -0.033836  0.003813
총 투자기간      0.193927 -0.074199  0.221577  ... -0.040573 -0.030141 -0.033153
주거래업종구분     0.030748  0.015844  0.000913  ... -0.033354 -0.025010 -0.015936
종목업종       -0.013247  0.000005  0.030929  ... -0.270385 -0.074581 -0.008408
시가총액 규모유형   0.014458 -0.021493 -0.025613  ... -0.020707 -0.013641  0.032530
시장구분        0.021472 -0.031663  0.011077  ... -0.387473 -0.375245 -0.064699
과거 보유일      0.966043 -0.007005  0.002264  ...  0.022706 -0.023830 -0.142415
종가_0630    -0.057718  0.032285 -0.008378  ...  0.225053  0.946438  0.118070
잔고수량        0.025202 -0.032686  0.025346  ... -0.040264 -0.052296  0.030213
잔고금액        0.017160 -0.055971  0.090209  ...  0.001822  0.047553  0.010872
액면가         0.042979  0.008112 -0.014713  ...  1.000000  0.238502 -0.013548
매수가격       -0.025054  0.037659 -0.003674  ...  0.238502  1.000000  0.046150
수익률        -0.139161 -0.027311 -0.011024  ... -0.013548  0.046150  1.000000

[20 rows x 20 columns]

## 1. feature selection 기반: hist_d, 수익률, 잔고금액으로 모델링

In [ ]:
train_selected_1=train_filled[{'과거 보유일', '수익률', '잔고금액'}]
test_selected_1=test_filled[{'과거 보유일', '수익률', '잔고금액'}]

In [ ]:
# outlier 처리

def outliers_iqr(data):
  q1, q3= np.percentile(data, [25,75])
  iqr=q3-q1
  lower_bound=q1-(iqr*5)
  upper_bound=q3+(iqr*5)

  return np.where((data>upper_bound)|(data<lower_bound))

In [ ]:
과거보유일_outlier=outliers_iqr(train_selected_1['과거 보유일'])[0]
잔고금액_outlier=outliers_iqr(train_selected_1['잔고금액'])[0]
수익률_outlier=outliers_iqr(train_selected_1['수익률'])[0]

outlier_index = np.concatenate((과거보유일_outlier, 잔고금액_outlier,수익률_outlier), axis=None)

print(len(outlier_index))

3309

In [ ]:
not_oulier_index=[]

for i in train_selected_1.index:
  if i not in outlier_index:
    not_oulier_index.append(i)

train_clean_1=train_selected_1.loc[not_oulier_index]
train_clean_1=train_clean_1.reset_index(drop=True)

In [ ]:
train_clean_1.shape

(28259, 3)

In [ ]:
train_label_1=train_label.copy()
train_label_1=train_label_1.loc[not_oulier_index]
train_label_1=train_label_1.reset_index(drop=True)

In [ ]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor, ExtraTreesRegressor
from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(train_clean_1, train_label_1, test_size=0.3,shuffle=True, random_state=42)

In [ ]:
lgbm_reg=LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=123, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
gbm_reg=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                           init=None, learning_rate=0.1, loss='ls', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0, warm_start=False)
rf_reg=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=-1, oob_score=False,
                       random_state=123, verbose=0, warm_start=False)

lgbm_reg.fit(X_train, y_train)
gbm_reg.fit(X_train, y_train)
rf_reg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=123, verbose=0, warm_start=False)

In [ ]:
import numpy as np

In [ ]:
lgbm_pred=lgbm_reg.predict(X_test)
gbm_pred=gbm_reg.predict(X_test)
rf_pred=rf_reg.predict(X_test)

lgbm_rmse=np.sqrt(mse(y_test, lgbm_pred))
gbm_rmse=np.sqrt(mse(y_test, gbm_pred))
rf_rmse=np.sqrt(mse(y_test, rf_pred))

print(lgbm_rmse)
print(gbm_rmse)
print(rf_rmse)

29.52501862189911
29.32652633894697
31.223697698165218

In [ ]:
lgbm_real_predict=lgbm_reg.predict(test_selected_1)
gbm_real_predict=gbm_reg.predict(test_selected_1)
rf_real_predict=rf_reg.predict(test_selected_1)

In [ ]:
# gbm 모델로 일단 submission

submission['hold_d']=np.round(gbm_real_predict)
submission.to_csv("NH_submission_1002.csv", index = False)

## 2. 잔고금액 / 총 투자기간
총 투자 기간과 잔고 금액이 feature 들 중에서 유일하게 기존에 있던 feature 중에서 feature selection에 포함되어 있었음.

잔고금액이 적은데 투자기간이 긴 경우 / 잔고금액이 적은데 투자기간이 짧은 경우 / 잔고금액이 많은데 투자기간이 긴 경우 / 잔고금액이 많은데 투자기간이 짧은 경우 

이렇게 네가지로 분류해볼까?

In [ ]:
train_filled.head()

                                                계좌ID  ...       수익률
0  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.095101
1  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ...  0.012746
2  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.039698
3  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.026860
4  b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.024453

[5 rows x 26 columns]

In [ ]:
round(train_filled.loc[0]['잔고금액']/train_filled.loc[0]['총 투자기간'], 2)

11566.67

In [ ]:
train_filled_1=train_filled.copy()

In [ ]:
train_filled_1['잔고금액/총 투자기간']=round(train_filled_1['잔고금액']/train_filled_1['총 투자기간'], 2)

In [ ]:
test_filled_1=test_filled.copy()
test_filled_1['잔고금액/총 투자기간']=round(test_filled_1['잔고금액']/test_filled_1['총 투자기간'], 2)

In [ ]:
train_selected_2=train_filled_1[{'과거 보유일', '수익률', '잔고금액/총 투자기간'}]
test_selected_2=test_filled_1[{'과거 보유일', '수익률', '잔고금액/총 투자기간'}]

In [ ]:
과거보유일_outlier_1=outliers_iqr(train_selected_2['과거 보유일'])[0]
잔고대비투자기간_outlier_1=outliers_iqr(train_selected_2['잔고금액/총 투자기간'])[0]
수익률_outlier_1=outliers_iqr(train_selected_2['수익률'])[0]

outlier_index_1 = np.concatenate((과거보유일_outlier_1, 잔고대비투자기간_outlier_1,수익률_outlier_1), axis=None)

print(len(outlier_index_1))

3305

In [ ]:
not_oulier_index_1=[]

for i in train_selected_2.index:
  if i not in outlier_index_1:
    not_oulier_index_1.append(i)

train_clean_2=train_selected_2.loc[not_oulier_index_1]
train_clean_2=train_clean_2.reset_index(drop=True)

train_label_2=train_label.copy()
train_label_2=train_label_2.loc[not_oulier_index_1]
train_label_2=train_label_2.reset_index(drop=True)

In [ ]:
X_train_1, X_test_1, y_train_1, y_test_1=train_test_split(train_clean_2, train_label_2, test_size=0.3,shuffle=True, random_state=42)

lgbm_reg.fit(X_train_1, y_train_1)
gbm_reg.fit(X_train_1, y_train_1)
rf_reg.fit(X_train_1, y_train_1)

lgbm_pred_1=lgbm_reg.predict(X_test_1)
gbm_pred_1=gbm_reg.predict(X_test_1)
rf_pred_1=rf_reg.predict(X_test_1)

lgbm_rmse_1=np.sqrt(mse(y_test_1, lgbm_pred_1))
gbm_rmse_1=np.sqrt(mse(y_test_1, gbm_pred_1))
rf_rmse_1=np.sqrt(mse(y_test_1, rf_pred_1))

print(lgbm_rmse_1)
print(gbm_rmse_1)
print(rf_rmse_1)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

29.69296914610096
29.482256581471223
31.32506460382264

## 3. 인구특성 기준
- Life stage > 인구 연령, 직업 구분 8가지

아래 두가지 중 어떤 것을 쓸지?
- 서비스등급 > 소득 수준 결측치 포함 7가지
- 자산 구간 > 소득 수준 6가지
- 최대 7*7 조합으로 가볼까

In [ ]:
train_filled

                                                    계좌ID  ...       수익률
0      b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.095101
1      b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ...  0.012746
2      b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.039698
3      b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.026860
4      b6623032ed365b6c9a71c0344ebb8ca191f1ebc5927771...  ... -0.024453
...                                                  ...  ...       ...
31372  4006ddaa5673365096b9dd5965e20db866f6523c162f79...  ...  0.020305
31373  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  ... -0.167979
31374  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  ... -0.062295
31375  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  ... -0.133247
31376  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  ... -0.020142

[31377 rows x 26 columns]

In [ ]:
lifestage = pd.Series(train_filled['Life Stage'].values, index=list(range(0,31377)))
serive_rating=pd.Series(train_filled['서비스등급'].values, index=list(range(0,31377)))
income=pd.Series(train_filled['자산구간'].values, index=list(range(0,31377)))

In [ ]:
a=train_filled.copy()
a.groupby('Life Stage')['보유기간(일)'].agg(**{'평균보유일':'mean'}).reset_index()

   Life Stage       평균보유일
0           2   79.806782
1           3   92.722656
2           4  101.571825
3           5   97.768479
4           6   86.413536
5           7   97.921462
6           8   80.608939
7           9   81.210490

In [ ]:
b=train_filled.copy()
b.groupby('자산구간')['보유기간(일)'].agg(**{'평균보유일':'mean'}).reset_index()

   자산구간       평균보유일
0     1   87.738336
1     2   92.538967
2     3   90.193190
3     4   89.395841
4     5   98.352867
5     6  101.072591

In [ ]:
c=train_filled.copy()
c.groupby('서비스등급')['보유기간(일)'].agg(**{'평균보유일':'mean'}).reset_index()

   서비스등급       평균보유일
0      1  100.252796
1      2  105.416667
2      3   89.371564
3      4   91.005770
4      5   91.440728
5      9   93.046736

In [ ]:
d=train_filled.copy()
d.groupby(['Life Stage', '자산구간'])['보유기간(일)'].agg(**{'평균보유일':'mean'}).reset_index()

    Life Stage  자산구간       평균보유일
0            2     1   77.623996
1            2     2   81.348636
2            2     3   88.461702
3            2     4   77.199324
4            2     5   73.576471
5            2     6   96.666667
6            3     1   89.732558
7            3     2   93.560163
8            3     3   86.550725
9            3     4   88.100888
10           3     5  102.383000
11           3     6  107.227907
12           4     1   93.911193
13           4     2  104.782150
14           4     3  107.988506
15           4     4  111.230900
16           4     5  104.682667
17           4     6   45.488095
18           5     1   89.172926
19           5     2  104.481538
20           5     3   97.776504
21           5     4   85.352564
22           5     5  107.281941
23           5     6  100.827381
24           6     1   82.109208
25           6     2   86.875421
26           6     3   76.781106
27           6     4   94.319383
28           6     5   92.604167
29           6     6   80.453039
30           7     1  103.777419
31           7     2   74.357006
32           7     3   90.677507
33           7     4  100.797788
34           7     5  102.302149
35           7     6  121.706061
36           8     1  147.506849
37           8     2   77.596859
38           8     3   81.798780
39           8     4   78.865672
40           8     5   63.608051
41           8     6   74.089552
42           9     1   68.760736
43           9     2   90.926045
44           9     3   51.925743
45           9     4   63.107843
46           9     5   97.015810
47           9     6  111.415888

In [ ]:
# 세 변수 구분
ls_2=train_filled['Life Stage']==2
ls_3=train_filled['Life Stage']==3
ls_4=train_filled['Life Stage']==4
ls_5=train_filled['Life Stage']==5
ls_6=train_filled['Life Stage']==6
ls_7=train_filled['Life Stage']==7
ls_8=train_filled['Life Stage']==8
ls_9=train_filled['Life Stage']==9

income_1=train_filled['자산구간']==1
income_2=train_filled['자산구간']==2
income_3=train_filled['자산구간']==3
income_4=train_filled['자산구간']==4
income_5=train_filled['자산구간']==5
income_6=train_filled['자산구간']==6

service_1=train_filled['서비스등급']==1
service_2=train_filled['서비스등급']==2
service_3=train_filled['서비스등급']==3
service_4=train_filled['서비스등급']==4
service_5=train_filled['서비스등급']==5
service_9=train_filled['서비스등급']==9

In [ ]:
# life stage & 소득 수준 더미
cat1=(ls_4 & income_6) | (ls_9 & income_3)
cat2=(ls_8 & income_5) | (ls_9 & income_4) | (ls_9 & income_1) | (ls_2 & income_5) | (ls_7 & income_2) | (ls_8 & income_6) | (ls_2 & income_1) | (ls_2 & income_4) | (ls_6 & income_3) | (ls_8 & income_2) | (ls_8 & income_4)
cat3=(ls_2 & income_2) | (ls_6 & income_1) | (ls_6 & income_6) | (ls_8 & income_3) | (ls_2 & income_3) | (ls_3 & income_1) | (ls_3 & income_3) | (ls_3 & income_4) | (ls_5 & income_1) | (ls_5 & income_4) | (ls_6 & income_2) | (ls_3 & income_2) | (ls_4 & income_1) | (ls_6 & income_4) | (ls_6 & income_5) | (ls_7 & income_3) | (ls_9 & income_2)
cat4=(ls_2 & income_6) | (ls_5 & income_3) | (ls_9 & income_5) | (ls_3 & income_5) | (ls_4 & income_2) | (ls_4 & income_5) | (ls_5 & income_2) | (ls_5 & income_6) | (ls_7 & income_1) | (ls_7 & income_4) | (ls_7 & income_5) | (ls_3 & income_6) | (ls_4 & income_3) | (ls_5 & income_5) | (ls_4 & income_4) | (ls_9 & income_6)
cat5=(ls_7 & income_6) | (ls_8 & income_1)

In [ ]:
dummy_1 = train_filled[cat1==True].index.tolist()
dummy_2 = train_filled[cat2==True].index.tolist()
dummy_3 = train_filled[cat3==True].index.tolist()
dummy_4 = train_filled[cat4==True].index.tolist()
dummy_5 = train_filled[cat5==True].index.tolist()

In [ ]:
len(dummy_1)+len(dummy_2)+len(dummy_3)+len(dummy_4)+len(dummy_5)

31377

In [ ]:
train_LI=train_filled.copy()
train_LI['L&I']=0


for i in range(0, len(train_filled)):
  if i in dummy_1:
    train_LI['L&I'][i]=1
  elif i in dummy_2:
    train_LI['L&I'][i]=2
  elif i in dummy_3:
    train_LI['L&I'][i]=3
  elif i in dummy_4:
    train_LI['L&I'][i]=4
  elif i in dummy_5:
    train_LI['L&I'][i]=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
train_LI.shape

(31377, 27)

## Test set도 동일하게 작업

In [ ]:
# 세 변수 구분
ls_2_t=test_filled['Life Stage']==2
ls_3_t=test_filled['Life Stage']==3
ls_4_t=test_filled['Life Stage']==4
ls_5_t=test_filled['Life Stage']==5
ls_6_t=test_filled['Life Stage']==6
ls_7_t=test_filled['Life Stage']==7
ls_8_t=test_filled['Life Stage']==8
ls_9_t=test_filled['Life Stage']==9

income_1_t=test_filled['자산구간']==1
income_2_t=test_filled['자산구간']==2
income_3_t=test_filled['자산구간']==3
income_4_t=test_filled['자산구간']==4
income_5_t=test_filled['자산구간']==5
income_6_t=test_filled['자산구간']==6

service_1_t=test_filled['서비스등급']==1
service_2_t=test_filled['서비스등급']==2
service_3_t=test_filled['서비스등급']==3
service_4_t=test_filled['서비스등급']==4
service_5_t=test_filled['서비스등급']==5
service_9_t=test_filled['서비스등급']==9

In [ ]:
# life stage & 소득 수준 더미
cat1_t=(ls_4_t & income_6_t) | (ls_9_t & income_3_t)
cat2_t=(ls_8_t & income_5_t) | (ls_9_t & income_4_t) | (ls_9_t & income_1_t) | (ls_2_t & income_5_t) | (ls_7_t & income_2_t) | (ls_8_t & income_6_t) | (ls_2_t & income_1_t) | (ls_2_t & income_4_t) | (ls_6_t & income_3_t) | (ls_8_t & income_2_t) | (ls_8_t & income_4_t)
cat3_t=(ls_2_t & income_2_t) | (ls_6_t & income_1_t) | (ls_6_t & income_6_t) | (ls_8_t & income_3_t) | (ls_2_t & income_3_t) | (ls_3_t & income_1_t) | (ls_3_t & income_3_t) | (ls_3_t & income_4_t) | (ls_5_t & income_1_t) | (ls_5_t & income_4_t) | (ls_6_t & income_2_t) | (ls_3_t & income_2_t) | (ls_4_t & income_1_t) | (ls_6_t & income_4_t) | (ls_6_t & income_5_t) | (ls_7_t & income_3_t) | (ls_9_t & income_2_t)
cat4_t=(ls_2_t & income_6_t) | (ls_5_t & income_3_t) | (ls_9_t & income_5_t) | (ls_3_t & income_5_t) | (ls_4_t & income_2_t) | (ls_4_t & income_5_t) | (ls_5_t & income_2_t) | (ls_5_t & income_6_t) | (ls_7_t & income_1_t) | (ls_7_t & income_4_t) | (ls_7_t & income_5_t) | (ls_3_t & income_6_t) | (ls_4_t & income_3_t) | (ls_5_t & income_5_t) | (ls_4_t & income_4_t) | (ls_9_t & income_6_t)
cat5_t=(ls_7_t & income_6_t) | (ls_8_t & income_1_t)

In [ ]:
dummy_1_t = test_filled[cat1_t==True].index.tolist()
dummy_2_t = test_filled[cat2_t==True].index.tolist()
dummy_3_t = test_filled[cat3_t==True].index.tolist()
dummy_4_t = test_filled[cat4_t==True].index.tolist()
dummy_5_t = test_filled[cat5_t==True].index.tolist()

In [ ]:
len(dummy_1_t)+len(dummy_2_t)+len(dummy_3_t)+len(dummy_4_t)+len(dummy_5_t)

70596

In [ ]:
test_filled.shape

(70596, 26)

In [ ]:
test_LI=test_filled.copy()
test_LI['L&I']=0


for i in range(0, len(test_filled)):
  if i in dummy_1_t:
    test_LI['L&I'][i]=1
  elif i in dummy_2_t:
    test_LI['L&I'][i]=2
  elif i in dummy_3_t:
    test_LI['L&I'][i]=3
  elif i in dummy_4_t:
    test_LI['L&I'][i]=4
  elif i in dummy_5_t:
    test_LI['L&I'][i]=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
test_LI.shape

(70596, 27)

In [ ]:
train_dummy=pd.get_dummies(train_LI, columns=['L&I'])
test_dummy=pd.get_dummies(test_LI, columns=['L&I'])

In [ ]:
train_dummy.columns.values.tolist()

['계좌ID',
 '종목코드',
 '매수일자',
 '매도일자',
 '보유기간(일)',
 '성별',
 '연령대',
 '투자성향',
 '자산구간',
 '주거래상품군',
 'Life Stage',
 '서비스등급',
 '총 투자기간',
 '주거래업종구분',
 '종목한글명',
 '종목업종',
 '시가총액 규모유형',
 '시장구분',
 '과거 보유일',
 '종가_0630',
 '기준일자',
 '잔고수량',
 '잔고금액',
 '액면가',
 '매수가격',
 '수익률',
 'L&I_1',
 'L&I_2',
 'L&I_3',
 'L&I_4',
 'L&I_5']

In [ ]:
train_cols=train_dummy.columns.values.tolist()
test_cols=test_dummy.columns.values.tolist()

cols_not_in_test = {c:0 for c in train_cols if c not in test_cols}
cols_not_in_train = {c:0 for c in test_cols if c not in train_cols}

train_dummy = train_dummy.assign(**cols_not_in_test)
test_dummy= test_dummy.assign(**cols_not_in_train)

In [ ]:
train_dummy.to_csv("train_dummy.csv")
test_dummy.to_csv("test_dummy.csv")

In [ ]:
train_selected_3=train_dummy[{'과거 보유일', '수익률', '잔고금액', 'L&I_1','L&I_2','L&I_3','L&I_4','L&I_5'}]
test_selected_3=test_dummy[{'과거 보유일', '수익률', '잔고금액', 'L&I_1','L&I_2','L&I_3','L&I_4','L&I_5'}]

In [ ]:
과거보유일_outlier_2=outliers_iqr(train_selected_3['과거 보유일'])[0]
수익률_outlier_2=outliers_iqr(train_selected_3['수익률'])[0]
잔고금액_outlier_2=outliers_iqr(train_selected_3['잔고금액'])[0]
outlier_index_2 = np.concatenate((과거보유일_outlier_2, 수익률_outlier_2, 잔고금액_outlier_2), axis=None)

print(len(outlier_index_2))

3309

In [ ]:
not_oulier_index_2=[]

for i in train_selected_3.index:
  if i not in outlier_index_2:
    not_oulier_index_2.append(i)

train_clean_3=train_selected_3.loc[not_oulier_index_2]
train_clean_3=train_clean_3.reset_index(drop=True)

train_label_3=train_label.copy()
train_label_3=train_label_3.loc[not_oulier_index_2]
train_label_3=train_label_3.reset_index(drop=True)

In [ ]:
X_train_2, X_test_2, y_train_2, y_test_2=train_test_split(train_clean_3, train_label_3, test_size=0.3,shuffle=True, random_state=42)

lgbm_reg.fit(X_train_2, y_train_2)
gbm_reg.fit(X_train_2, y_train_2)
rf_reg.fit(X_train_2, y_train_2)

lgbm_pred_2=lgbm_reg.predict(X_test_2)
gbm_pred_2=gbm_reg.predict(X_test_2)
rf_pred_2=rf_reg.predict(X_test_2)

lgbm_rmse_2=np.sqrt(mse(y_test_2, lgbm_pred_2))
gbm_rmse_2=np.sqrt(mse(y_test_2, gbm_pred_2))
rf_rmse_2=np.sqrt(mse(y_test_2, rf_pred_2))

print(lgbm_rmse_2)
print(gbm_rmse_2)
print(rf_rmse_2)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

29.466214310819197
29.320533365993782
30.884830067824037

In [ ]:
lgbm_real_predict_1=lgbm_reg.predict(test_selected_3)
gbm_real_predict_1=gbm_reg.predict(test_selected_3)
rf_real_predict_1=rf_reg.predict(test_selected_3)

In [ ]:
# gbm 모델로 일단 submission

submission['hold_d']=np.round(gbm_real_predict)
submission.to_csv("NH_submission_1002_1.csv", index = False)

In [ ]:
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold

In [ ]:
train_clean_3

       L&I_3  과거 보유일       수익률  L&I_1  L&I_4  L&I_5      잔고금액  L&I_2
0          0      36 -0.095101      0      1      0   69400.0      0
1          0      11  0.012746      0      1      0  345200.0      0
2          0      21 -0.039698      0      1      0   66125.0      0
3          0      23 -0.026860      0      1      0  338800.0      0
4          0      23 -0.024453      0      1      0   77700.0      0
...      ...     ...       ...    ...    ...    ...       ...    ...
28254      0       8 -0.142857      0      0      0  119000.0      1
28255      0     261 -0.167979      0      1      0   38100.0      0
28256      0      16 -0.062295      0      1      0  183000.0      0
28257      0      17 -0.133247      0      1      0  386500.0      0
28258      0       3 -0.020142      0      1      0    8440.0      0

[28259 rows x 8 columns]

In [ ]:
models = []

folds = KFold(n_splits=10)
for train_idx, val_idx in folds.split(train_clean_3):
    
    train_x = train_clean_3.iloc[train_idx, :]
    train_y = train_label_3.iloc[train_idx]
    val_x = train_clean_3.iloc[val_idx, :]
    val_y = train_label_3.iloc[val_idx]
    
    model = LGBMRegressor(objective= "regression",
                          max_depth= 5,
                          n_estimators= 2000,
                          learning_rate= 0.01,
                          num_leaves = 31)
    
    model.fit(train_x, train_y,
              eval_set=[(val_x, val_y)],
              eval_metric=["rmse"],
              early_stopping_rounds=300,
              verbose=500)
    
    models.append(model)

Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 819.25	valid_0's rmse: 28.6225
Early stopping, best iteration is:
[569]	valid_0's l2: 819.041	valid_0's rmse: 28.6189
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 911.392	valid_0's rmse: 30.1893
Early stopping, best iteration is:
[626]	valid_0's l2: 910.642	valid_0's rmse: 30.1768
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 908.339	valid_0's rmse: 30.1387
Early stopping, best iteration is:
[417]	valid_0's l2: 907.567	valid_0's rmse: 30.1259
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 932.263	valid_0's rmse: 30.533
Early stopping, best iteration is:
[372]	valid_0's l2: 931.254	valid_0's rmse: 30.5165
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 829.002	valid_0's rmse: 28.7924
Early stopping, best iteration is:
[493]	valid_0's l2: 828.915	valid_0's rmse: 28.7909
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 870.923	valid_0's rmse: 29.5114
Early stopping, best iteration is:
[687]	valid_0's l2: 870.315	valid_0's rmse: 29.5011
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 956.025	valid_0's rmse: 30.9197
Early stopping, best iteration is:
[457]	valid_0's l2: 955.644	valid_0's rmse: 30.9135
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 872.873	valid_0's rmse: 29.5444
Early stopping, best iteration is:
[453]	valid_0's l2: 872.389	valid_0's rmse: 29.5362
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 800.965	valid_0's rmse: 28.3013
[1000]	valid_0's l2: 800.939	valid_0's rmse: 28.3009
Early stopping, best iteration is:
[853]	valid_0's l2: 800.647	valid_0's rmse: 28.2957
Training until validation scores don't improve for 300 rounds.
[500]	valid_0's l2: 810.141	valid_0's rmse: 28.463
Early stopping, best iteration is:
[358]	valid_0's l2: 809.113	valid_0's rmse: 28.4449

In [ ]:
result = []
for i in models:
    result.append(i.predict(test_selected_3))
predict = np.mean(result, axis = 0)

In [ ]:
submission["hold_d"] = np.round(predict)

In [ ]:
submission.to_csv("NH_submission_1002_2.csv", index = False)