<h2><b>[개인 과제]</b></h2>

````
pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/'
                     'wine/wine.data',header=None)
````
<h3>위와 같은 방식으로 다운받은 데이터에서 Class label이 1인 샘플과 Class label이 1이 아닌 샘플을 구분하게 하는 Binary Classifier를 만들어보세요!</h3>

<br>

**<h3><조건></h3>**

<h3>0. Train-test set 분리 </h3>

````
X_train, X_test, y_train, y_test = train_test_split(
X, y_1, test_size=0.33, random_state=64)
````
<h3>1. sklearn의 GridSearchCV를 활용하기</h3>

````
from sklearn.model_selection import GridSearchCV
knn_clf = KNeighborsClassifier()
grid_search = GridSearchCV(knn_clf, param_grid, cv=5, verbose=0, scoring='f1')
````

<h3>2. grid-search에서 best-parameter, best score 확인하기</h3>
<h3>3. test set에서 f1 score와 confusion matrix 계산하기</h3>

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
wine_data=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/'
                     'wine/wine.data',header=None)
wine_data.columns = ['class label', 'alchohol', 'malic acid', 'ash', 
                    'alcalinity of ash', 'magnesium', 'total phenols', 
                    'flavanoids', 'nonflavanoid phenols', 
                    'proanthocyanins', 'color intensity', 'hue', 
                    'OD280', 'proline']

In [4]:
wine_data

     class label  alchohol  malic acid  ...   hue  OD280  proline
0              1     14.23        1.71  ...  1.04   3.92     1065
1              1     13.20        1.78  ...  1.05   3.40     1050
2              1     13.16        2.36  ...  1.03   3.17     1185
3              1     14.37        1.95  ...  0.86   3.45     1480
4              1     13.24        2.59  ...  1.04   2.93      735
..           ...       ...         ...  ...   ...    ...      ...
173            3     13.71        5.65  ...  0.64   1.74      740
174            3     13.40        3.91  ...  0.70   1.56      750
175            3     13.27        4.28  ...  0.59   1.56      835
176            3     13.17        2.59  ...  0.60   1.62      840
177            3     14.13        4.10  ...  0.61   1.60      560

[178 rows x 14 columns]

In [23]:
x=pd.DataFrame(wine_data.drop('class label',axis=1))
y=pd.DataFrame(wine_data['class label'])

In [11]:
wine_1.describe()

       class label   alchohol  malic acid  ...        hue      OD280      proline
count         59.0  59.000000   59.000000  ...  59.000000  59.000000    59.000000
mean           1.0  13.744746    2.010678  ...   1.062034   3.157797  1115.711864
std            0.0   0.462125    0.688549  ...   0.116483   0.357077   221.520767
min            1.0  12.850000    1.350000  ...   0.820000   2.510000   680.000000
25%            1.0  13.400000    1.665000  ...   0.995000   2.870000   987.500000
50%            1.0  13.750000    1.770000  ...   1.070000   3.170000  1095.000000
75%            1.0  14.100000    1.935000  ...   1.130000   3.420000  1280.000000
max            1.0  14.830000    4.040000  ...   1.280000   4.000000  1680.000000

[8 rows x 14 columns]

In [72]:
y1= (y['class label']==1)

In [73]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y1,  test_size=0.33, random_state=64)

In [74]:
from sklearn.model_selection import GridSearchCV
knn_clf = KNeighborsClassifier()
grid_search = GridSearchCV(knn_clf, param_grid, cv=5, verbose=0, scoring='f1')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid=[{'n_neighbors': [3, 4, 5],
                          'weights': ['uniform', 'distance']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=0)

In [75]:
grid_search.best_params_

{'n_neighbors': 4, 'weights': 'distance'}

In [76]:
grid_search.best_score_

0.8813725490196079

In [79]:
from sklearn.model_selection import cross_val_predict
knn_model=KNeighborsClassifier(weights='distance',n_neighbors=4)
knn_model.fit(X_train, y_train)
y_test_pred = cross_val_predict(knn_model, X_test, y_test)

In [80]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_test_pred)

array([[41,  1],
       [ 2, 15]])

In [82]:
from sklearn.metrics import f1_score

f1_score(y_test, y_test_pred)

0.9090909090909091